<div class="project">
  <div class="bigimage"><%= image_tag(@project.img_one, style: "width: 95vw; center") %></div>
  <div class="otherimages"><% if @project.img_two.present? %>
    <%= image_tag(@project.img_two) %>
  <% end %></div>
  <h2><%= @project.name %></h2>
  <p><%= @project.date.strftime('%B %d ') %></p>
  <p><%= @project.description %></p>
</div>
